body {
  background-color: grey;
  color: White;
}

p {
  font-size: 20px;
  margin: 20px 50px 20px 50px;
  padding-bottom: 100px;
}

h1 {
  text-align: center;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.photo2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.katana {
  display: block;
  width: 15%;
  float: left;
  margin: 0 50px 20px 50px;
}

.kat1 {
  font-size: 23px;
}

.bow {
  display: block;
  width: 11%;
  float: left;
  margin: 0 120px 20px 50px;
}

.arc1 {
  font-size: 23px;
}

.nagi {
  display: block;
  width: 15%;
  float: left;
  margin: 0 50px 20px 50px;

}

.naginata > p {
  font-size: 22px;
}
